html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 174, 0, 0.4);
    flex: 2;
}

.menu-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#menu-svg {
    height: 30px;
    padding: 10px
}

#menu-svg:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#logo {
    padding: 10px;
    width: 120px;
}

#date {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

#clock {
    width: 20px;
    height: 20px;
}

/* Body */

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 10;
}

nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgba(230, 21, 13, 0.4);
    transition: width 1s ease-out, color .5s ease-in;
}

.nav-inactive {
    width: 0;
    color: transparent;
    pointer-events: none;
}

.nav-active {
    width: 20%;
    color: black;
    pointer-events: all;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

li {
    margin: 0px;
}

.btn-nav {
    margin: 0px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.btn-nav:hover {
    background-color: white;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
}

h3 {
    font-weight: 100;
}

content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 80%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

.task-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
}

.task-div {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-evenly;
    margin: 8px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgba(99, 195, 206, 0.4);
    flex: 1;
}
#github {
    width: 20px;
    height: 20px;
}

/* Form Task CSS */

.form-task, .form-project {
    position: fixed !important;
    height: auto;
    width: auto;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.active {
    display: block;
    animation: fade-in 1s;
}

.deactivating {
    animation: fade-out 1s;
}

.inactive {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    gap: 20px;
}

input {
    font-size: 1em;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #fef3c7;
}

#form-project-color {
    padding: 3px;
}

.task-confirmation, .project-confirmation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.cancel {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;
    background-color: #fef3c7;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.7);
}

.confirm {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-width: 0;
    border-radius: 10px;
    background-color: #fef3c7;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0.7)
}

.blank {
    display: none;
    background-color: rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

