html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 174, 0, 0.4);
    flex: 2;
}

.menu-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 5px;
}

#menu-svg {
    height: 30px;
    padding: 10px
}

#menu-svg:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#logo {
    padding: 10px;
    width: 120px;
}

#date {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

#clock {
    width: 20px;
    height: 20px;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 10;
}

nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgba(230, 21, 13, 0.4);
}

ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
  }

.btn-nav {
    cursor: pointer;
}

h2 {
    text-decoration: underline;
}

content {
    width: 80%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgba(99, 195, 206, 0.4);
    flex: 1;
}
#github {
    width: 20px;
    height: 20px;
}