html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 174, 0, 0.4);
    flex: 2;
}

.menu-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#menu-svg {
    height: 30px;
    padding: 10px
}

#menu-svg:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#logo {
    padding: 10px;
    width: 120px;
}

#date {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

#clock {
    width: 20px;
    height: 20px;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 10;
}

nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgba(230, 21, 13, 0.4);
    transition: width 1s ease-out, color .5s ease-in;
}

.nav-inactive {
    width: 0;
    color: transparent;
    pointer-events: none;
}

.nav-active {
    width: 20%;
    color: black;
    pointer-events: all;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

li {
    margin: 0px;
}

.btn-nav {
    margin: 0px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.btn-nav:hover {
    background-color: white;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
}

h3 {
    font-weight: 100;
}

content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 80%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

.task-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
}

.task-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgba(99, 195, 206, 0.4);
    flex: 1;
}
#github {
    width: 20px;
    height: 20px;
}